* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: white;
  line-height: 2rem;
  font-family: Karla, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}
.section-1 h4 {
  color: hsl(218, 22%, 67%);
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 1.7rem;
}
.section-1 .heading {
  line-height: 3.2rem;
}

.section-1 .heading p { 
   color: hsl(71, 73%, 54%);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.section-1 p {
   color: hsl(179, 62%, 43%);
   padding-top: 15px;
  
  }
/* section 2 */
.section-2 {
  background: hsl(179, 62%, 43%); 
}
.section-2 p {
  color: hsl(204, 43%, 93%);
  font-size: 1.2rem;
}

.section-2 span {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}

.section-2 h4 {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
}

.section-2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.75em;
  color: white;
  background: hsl(71, 73%, 54%);
  margin-top: 25px;
  box-shadow: 0px 2px 5px 0 rgb(0, 0, 0,0.4);
}

/* Section 3 */
.section-3 {
  background: hsl(218, 22%, 67%);
  /* padding: 8%; */
}
.section-3 h4 {  
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.section-3 ul {
  list-style: none;
  line-height: 1.7rem;
  color: hsl(204, 43%, 93%);
 
}